body {
  margin: 10px;
  background-color: rgb(75, 75, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
label {
  display: block;
}
input[type="text"],
input[type="email"] {
  border: 3px solid lightpink;
  border-radius: 5px;
  padding: 5px;
  margin-left: 3px;
  background-color: antiquewhite;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border: 3px solid rgb(255, 73, 101);
  box-shadow: 0px 0px 10px rgb(252, 181, 181);
  outline: 0;
}
.form-group {
  margin: 5px;
  margin-left: 0;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button {
  background-color: lightcoral;
  border-radius: 5px;
  border: 0;
  color: aliceblue;
  margin: 5px;
}
button:hover {
  background-color: rgb(250, 99, 99);
  cursor: pointer;
}
form {
  background-color: rgb(165, 23, 23);
  border-radius: 10px;
  padding: 20px;
}
